node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-error.*
*.tsbuildinfo
.DS_Store
.env
.env.local

# macOS
.DS_Store

# Android
android/
*.keystore
*.jks

# iOS
ios/
*.xcworkspace
*.xcodeproj

# Logs
logs
*.log

# EAS
.eas-build-local/
